module.exports = {
    // Dingding ID
    vip: [
        '$:LWCP_v1:$XXXXXXXXXXXXXXXXXXXXXX==',
        '$:LWCP_v1:$XXXXXXXXXXXXXXXXXXXXXX==',
        '$:LWCP_v1:$XXXXXXXXXXXXXXXXXXXXXX==',
        ],
    active: [
        '$:LWCP_v1:$XXXXXXXXXXXXXXXXXXXXXX==',
        '$:LWCP_v1:$XXXXXXXXXXXXXXXXXXXXXX==',
        '$:LWCP_v1:$XXXXXXXXXXXXXXXXXXXXXX==',
        ]
}